*.iml
.gradle
local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.scratch/
.superpowers/


# Signing material - never commit these
keystore.properties
*.jks
*.keystore
